.searchInputs {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    background-color: var(--main-input-bg);
    padding: 0 0.5rem;
    border: 1px solid var(--main-input-border);
    width: 100%;
}

.searchInputs input {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    background-color: transparent;
    border: 0;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0.5rem;
    width: inherit;
}

input:focus {
    outline: none;
}

.searchIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}
