.nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem; 

}

.nav a {
    text-decoration: none;
    font-family: pocketFont, sans-serif;
    color: var(--text-dark);
    /* text-shadow: 2px 2px 2px black; */
}