
:root {
    --text-dark: black;
    --main-form-bg: rgba(255, 255, 255, 0.7); 
    --main-input-bg: white;
    --form-bg-hover: rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
}

#root {
    min-height: 100vh;
}

.App {
    padding: 1rem; 
    min-height: 100%;
}