
:root {
    --main-input-bg: rgba(255, 255, 255, 0.5);
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
}

#root {
    height: 100%;
}

.App {
    padding: 1rem; 
    height: 100%;
}